{% extends 'base.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="card-form-page">
    <div class="header-page">
        <h2>{{ titulo }}</h2>
        <a href="{% url 'caixa_dia' data_iso %}" class="btn-close-page">
            <i class="fas fa-times"></i>
        </a>
    </div>

    <form method="post" class="form-padrao">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="error-msg">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="actions">
            <button type="submit" class="btn-save full-width">
                <i class="fas fa-check"></i> Salvar
            </button>
            
        </div>
    </form>
</div>

{{ cats_json|json_script:"categorias-data" }}

<script>
    // Recupera os dados e cria a variável global que o forms.js espera
    const categoriasDados = JSON.parse(document.getElementById('categorias-data').textContent);
</script>

{% endblock %}